<section class="hero" id="hero">
  <div class="containers hero__container">
    <div class="hero__wrapper">
      <h1 class="hero__title">Weather</h1>
      <form class="location__form js-location__form">
        <input
          type="text"
          name="query"
          placeholder="Enter the city"
          class="location__form-input js-location__form-input"
        />
        <button type="submit" class="location__form-btn js-location__form-btn">
          Search
        </button>
      </form>
      <div class="weather__wrapper"></div>
    </div>
  </div>
</section>
